<div class="col-xs-offset-1 col-xs-10 col-xs-offset-1 content-box">
	<h1>Create A New Game</h1>
	<p>Waiting for players for game <%= @game.id.to_s %>. All games include a computer opponent.
		<table class="table table-condensed table-striped summary" id="players">
			<tr>
				<th>Human Player</th>				
			</tr>
			<tr>
				<td>You (<%= current_user.email %>)</td>
			</tr>
		</table>
	</p>
	<p id="link_to_start">
		<%= link_to 'Start the game', '/games/begin/' + @game.id.to_s %>
	</p>
</div>



<script>
$(function() {
	var myFirebaseRef = new Firebase("https://blinding-torch-3907.firebaseio.com/");
	myFirebaseRef.child("<%= fb_prefix %>games/<%= @game.id %>/players/").on("child_added", function(snapshot) {
	  $('#players').append("<tr><td>" + snapshot.val().name + "</td></tr>");
	});
});
</script>
