<div class="booyah-box">
	<h1>Game</h1>
	
	<p>SCORES:<br/>
	<% @players.each do |player| %>
		<% if current_user.id == player.user.id %>
			YOU:</b>	
		<% else %>
			player <b><%= player.user.email %></b>:
		<% end %>
		<%= player.score %><br/>
	<% end %>
	</p>

	<% @players.each do |player| %>	
		<p>Cards for 
		
		<% if @current_player == player.user.id && current_user.id == player.user.id %>
			YOU:</b>
		<% elsif @current_player == player.user.id %>
			active player: <b><%= player.user.email %></b>:			
		<% else %>
			player <b><%= player.user.email %></b>:
		<% end %>
		
		<br/>
		STATUS: <%= player.status %>
		
		<ul id="player_<%= player.id %>">
			<% player.output_hand.each do |card| %>
				<li><%= card %></li>
			<% end %>
			<li>TOTAL: <%= player.total_value_cards %></li>
		</ul>

		<% if @current_player == player.user.id && current_user.id == player.user.id %>
			<% if player.status == "play" %>
				<%= link_to 'Hit Me', '/games/turn/' + @game.id.to_s + '?turn=hit' %> | 
				<%= link_to 'Hold', '/games/turn/' + @game.id.to_s + '?turn=hold' %>				
			<% end %>
		<% end %>
		
		</p>
	<% end %>
</div>

<script>
$(function() {
	var myFirebaseRef = new Firebase("https://blinding-torch-3907.firebaseio.com/");

	myFirebaseRef.child("games/<%= @game.id %>/turn/").on("child_added", function(snapshot) {
	  window.location.href = "<%= url_for :controller => 'games', :action => 'play', :id => @game.id %>";
	});

	myFirebaseRef.child("games/<%= @game.id %>/ended/").on("child_added", function(snapshot) {
	  window.location.href = "<%= url_for :controller => 'games', :action => 'finish', :id => @game.id %>";
	});	
});
</script>
