<!DOCTYPE html>
<html>
<head>
  <title>BlackjackRails</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <% if action_name == "play" %>
      <%= link_to image_tag("speedjack-logo-mini-1.png"), root_path %><br/>
    <% else %>
      <%= link_to image_tag("speedjack-logo.png"), root_path %><br/>
    <% end %>
    <%= link_to 'About', about_path %> | 
      <% if user_signed_in? %>          
        <%= link_to 'Start New Game', new_game_path %> | 
        <%= link_to 'Join A Game', games_join_path %> | 
        <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path %> | 
        <%= link_to 'Sign Up', new_user_registration_path %>
      <% end %>    
  </div>

<% if notice.present? %>
	<p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert.present? %>
	<p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
